<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Public/css/footer.css">
    <title>Star Voyage </title>
</head>
<body>
    
</body>
<footer>
    <article>
        <p>&copy CODE_DRAGON</p>
    </article>
    <figure class="redes">
        <img class="red" src="/Public/contenido/img/Logos/facebook.png" alt="facebook">
        <img class="red" src="/Public/contenido/img/Logos/instagram.png" alt="instagram">
        <img class="red" src="/Public/contenido/img/Logos/twitter.png" alt="twitter">
    </figure>
</footer>
</html>