<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/Public/contenido/img/Main/fondo.jpg">
    <link rel="stylesheet" href="stylep.css">
    <title>Red Plus Pelis</title>
    
</head>
<body>
    <header>
        <button class="redireccion">
            <a href="/views/P&S.html/peliculas.html">Películas</a>
        </button>
        <button class="redireccion">
            <a href="/views/P&S.html/series.html">Series</a>
        </button>
    </header>
    <iframe src="/views/P&S.html/peliculas.html"></iframe>
    <iframe src="/views/P&S.html/series.html"></iframe>
</body>
</html>
<h1></h1>