<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Public/css/navegacion.css">
    <title>Star Voyage</title>
</head>
<body>
    <header>
        <nav class="principalNav">
            <ul class="menu"> 
                <li><a href="#">Peliculas</a></li>
                <li><a href="#">Series</a></li>
                <li><a href="#">Generos</a>
                    <ul class="submenu">
                        <li><a href="#">Animacion</a></li>
                        <li><a href="#">Comedia</a></li>
                        <li><a href="#">Drama</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        
            <input id="buscador" type="text" placeholder="Buscar">
            <img id="loupe" src="/Public/contenido/img/Logos/loupe.png" alt="loupe">
        
        <figure>
            <img id="logo" src="/Public/contenido/img/Logos/7.png" alt="logo">
        </figure>
    </header>
</body>
</html>

