<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../Public/css/style.css" />
        <title>start voyage</title>
    </head>
    <body>
        <header>
            <nav class="principalNav">
                <ul class="menu">
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="../views/peliculas/peliculas.html">Películas</a></li>
                    <li><a href="series.html">Series</a></li>
                    <li>
                        <a href="#">Géneros</a>
                        <ul class="submenu">
                            <li><a href="#animacion">Animación</a></li>
                            <li><a href="#comedia">Comedia</a></li>
                            <li><a href="#drama">Drama</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>

            <input id="buscador" type="text" placeholder="Buscar" onkeyup="buscarPeliculas()" />
            <img
                id="loupe"
                src="../Public/contenido/img/Logos/loupe.png"
                alt="loupe"
            />

            <figure>
                <img
                    id="logo"
                    src="../Public/contenido/img/Logos/logoEmpresa.png"
                    alt="logo"
                />
            </figure>
        </header>
        <div class="container" id="drama">
            <div class="scroll-images">
                <div class="titDrama">
                    <h2>Drama</h2>
                    <p> Sumérgete en las vidas entrelazadas de un variado grupo de personajes mientras navegan por el amor, la pérdida, la ambición y la redención en una ciudad en constante cambio. Descubre cómo sus decisiones moldean su destino y afectan a quienes los rodean en esta emocionante serie dramática llena de giros inesperados y conexiones profundas.
                    </p>
                </div>

                <section class="genero">
                    <div class="btnFlecha flechaIzquierda">
                        <button
                            class="iconob flechabtn"
                            onclick="scrollIzquierda()"
                        >
                            <img
                                class="iconoi"
                                src="../Public/contenido/img/Main/flechaIzquierda.png"
                                alt=""
                            />
                        </button>
                    </div>
                    <div class="pelis" id="imageDramaContainer">
                        <figure class="imageDrama">
                            <img
                                src="../Public/contenido/img/Series/GreysAnatomy.jpg"
                                alt=""
                            />
                            <div class="trans">
                                <h3>Grey’s Anatomy</h3>
                                <p> es una serie de TV que muestra las vidas y trabajos de médicos en el Hospital Seattle Grace (luego Grey Sloan Memorial). Hay drama médico, problemas de amor y muchas cosas pasan en el hospital y fuera de él. La serie mezcla operaciones con problemas personales, y los personajes enfrentan desafíos médicos y emocionales a lo largo de la historia. Si te gusta el drama médico con un toque de romance y conflicto, esta serie podría ser para ti.
                                </p>
                                <div class="botones">
                                    <button class="ver">Ver</button>
                                    <button class="verTrailer">
                                        Ver Trailer
                                    </button>
                                </div>
                            </div>
                        </figure>
                        <figure class="imageDrama">
                            <img
                                src="../Public/contenido/img/Series/LawOrder.jpg"
                                alt=""
                            />
                            <div class="trans">
                                <h3>Law & Order</h3>
                                <p> es una serie policial y legal que se desarrolla en Nueva York. Muestra el trabajo conjunto de detectives y fiscales para resolver crímenes y llevar a los culpables ante la justicia. Con una trama envolvente y realista, la serie destaca las complejidades de la investigación y los juicios en una metrópolis dinámica, ofreciendo una mirada apasionante a la intersección entre la ley y el orden. Creada por Dick Wolf, ha sido un pilar en la televisión desde su estreno en 1990.
                                </p>
                                <div class="botones">
                                    <button class="ver">Ver</button>
                                    <button class="verTrailer">
                                        Ver Trailer
                                    </button>
                                </div>
                            </div>
                        </figure>
                        <figure class="imageDrama">
                            <img
                                src="../Public/contenido/img/Series/CriminalMinds.jpg"
                                alt=""
                            />
                            <div class="trans">
                                <h3>Mentes Criminales</h3>
                                <p> es una serie de televisión estadounidense de drama legal y policial que sigue el formato de procedimiento policial y judicial. Cada episodio se divide en dos partes: la primera parte muestra la investigación de un crimen por parte de los detectives de la Unidad de Víctimas Especiales de Nueva York, mientras que la segunda parte se centra en el juicio y el enjuiciamiento del acusado.
                                </p>
                                <div class="botones">
                                    <button class="ver">Ver</button>
                                    <button class="verTrailer">
                                        Ver Trailer
                                    </button>
                                </div>
                            </div>
                        </figure>
                        <figure class="imageDrama">
                            <img
                                src="../Public/contenido/img/Series/TheGoodDoctor.jpg"
                                alt=""
                            />
                            <div class="trans">
                                <h3>The Good Doctor</h3>
                                <p> es una serie de televisión médica estadounidense que sigue la historia del Dr. Shaun Murphy, un joven y talentoso cirujano con autismo y síndrome del sabio. A pesar de sus desafíos sociales y emocionales, Shaun se une a un prestigioso equipo quirúrgico en el Hospital San José St. Bonaventure.
                                </p>
                                <div class="botones">
                                    <button class="ver">Ver</button>
                                    <button class="verTrailer">
                                        Ver Trailer
                                    </button>
                                </div>
                            </div>
                        </figure>
                        <figure class="imageDrama">
                            <img
                                src="../Public/contenido/img/Series/BlueBloods.jpg"
                                alt=""
                            />
                            <div class="trans">
                                <h3>Blue Boods</h3>
                                <p> es una serie de televisión estadounidense que combina elementos de drama policial y familiar. La historia sigue a la familia Reagan, una dinastía de agentes del orden público en Nueva York. El patriarca, Frank Reagan, es el jefe de policía y guía a sus hijos, Danny, Erin, Jamie y Joe, en sus carreras dentro del departamento de policía y la fiscalía.
                                </p>
                                <div class="botones">
                                    <button class="ver">Ver</button>
                                    <button class="verTrailer">
                                        Ver Trailer
                                    </button>
                                </div>
                            </div>
                        </figure>
                    </div>
                    <div class="btnFlecha flechaDerecha">
                        <button
                            class="iconob flechabtn"
                            onclick="scrollDerecha()"
                        >
                            <img
                                class="iconoi"
                                src="../Public/contenido/img/Main/fechaDerecha.png"
                                alt=""
                            />
                        </button>
                    </div>
                </section>
            </div>
        </div>
        <div class="container" id="comedia">
            <div class="scroll-images">
                <div class="titDrama">
                    <h2>Comedia</h2>
                    <p> ¡Prepárate para estallar de risa con nuestra serie de comedia llamativa! Acompaña a un grupo de amigos en sus divertidas aventuras y enredos cómicos mientras navegan por la vida cotidiana. Desde citas disparatadas hasta situaciones absurdas, cada episodio te hará reír a carcajadas. ¡No te pierdas esta dosis de diversión en cada temporada
                    </p>
                </div>

                <section class="genero">
                    <div class="btnFlecha flechaIzquierda">
                        <button
                            class="iconob flechabtn"
                            onclick="scrollIzquierda()"
                        >
                            <img
                                class="iconoi"
                                src="../Public/contenido/img/Main/flechaIzquierda.png"
                                alt=""
                            />
                        </button>
                    </div>
                    <div class="pelis" id="imageDramaContainer">
                        <figure class="imageDrama">
                            <img
                                src="../Public/contenido/img/Series/TheSimpsons.jpg"
                                alt=""
                            />
                            <div class="trans">
                                <h3>Los Simpson</h3>
                                <p> es una serie de televisión animada estadounidense que se centra en la vida de la familia Simpson, compuesta por Homer, Marge, Bart, Lisa y Maggie, quienes viven en la ficticia ciudad de Springfield. La serie aborda temas sociales y satiriza la cultura y la vida moderna, utilizando el humor y la sátira como elementos centrales.
                                </p>
                                <div class="botones">
                                    <button class="ver">Ver</button>
                                    <button class="verTrailer">
                                        Ver Trailer
                                    </button>
                                </div>
                            </div>
                        </figure>
                        <figure class="imageDrama">
                            <img
                                src="../Public/contenido/img/Series/FamilyGuy.jpg"
                                alt=""
                            />
                            <div class="trans">
                                <h3>Padre de Familia</h3>
                                <p> es una serie de animación estadounidense de comedia irreverente que sigue las desventuras de la familia Griffin, compuesta por Peter, Lois, sus hijos Meg, Chris y Stewie, y su perro antropomórfico Brian. La serie se desarrolla en la ficticia ciudad de Quahog, Rhode Island.
                                </p>
                                <div class="botones">
                                    <button class="ver">Ver</button>
                                    <button class="verTrailer">
                                        Ver Trailer
                                    </button>
                                </div>
                            </div>
                        </figure>
                        <figure class="imageDrama">
                            <img
                                src="../Public/contenido/img/Series/CobraKai.jpg"
                                alt=""
                            />
                            <div class="trans">
                                <h3>Cobra Kai</h3>
                                <p> Cobra Kai es una serie de televisión estadounidense que es una continuación de la saga de películas de 'The Karate Kid'. La trama sigue la rivalidad entre Johnny Lawrence, el antagonista de la película original, y Daniel LaRusso, el protagonista. Ambos personajes, ahora adultos, reviven sus conflictos mientras enseñan karate a nuevas generaciones.
                                </p>
                                <div class="botones">
                                    <button class="ver">Ver</button>
                                    <button class="verTrailer">
                                        Ver Trailer
                                    </button>
                                </div>
                            </div>
                        </figure>
                        <figure class="imageDrama">
                            <img
                                src="../Public/contenido/img/Series/TedLasso.jpg"
                                alt=""
                            />
                            <div class="trans">
                                <h3>Ted Lasso</h3>
                                <p> es una encantadora serie de comedia que sigue la travesía de un entrenador de fútbol americano de Kansas recién contratado para liderar al equipo de fútbol ficticio AFC Richmond en la Premier League del Reino Unido. Desarrollada por Bill Lawrence, Jason Sudeikis, Joe Kelly y Brendan Hunt, la serie se basa en un personaje homónimo creado por Sudeikis para promocionales de NBC Sports. Más allá de las risas, la serie explora las victorias y derrotas del equipo.
                                </p>
                                <div class="botones">
                                    <button class="ver">Ver</button>
                                    <button class="verTrailer">
                                        Ver Trailer
                                    </button>
                                </div>
                            </div>
                        </figure>
                        <figure class="imageDrama">
                            <img
                                src="../Public/contenido/img/Series/Futurama.jpg"
                                alt=""
                            />
                            <div class="trans">
                                <h3>Futurama</h3>
                                <p> es una serie de animación de ciencia ficción y comedia que sigue las aventuras de Fry, un joven repartidor de pizza que es congelado criogénicamente en el año 2000 y despierta mil años después en el año 3000. Se une a un equipo ecléctico de personajes, incluyendo una ciclope llamada Leela y un robot alcohólico llamado Bender.
                                </p>
                                <div class="botones">
                                    <button class="ver">Ver</button>
                                    <button class="verTrailer">
                                        Ver Trailer
                                    </button>
                                </div>
                            </div>
                        </figure>
                    </div>
                    <div class="btnFlecha flechaDerecha">
                        <button
                            class="iconob flechabtn"
                            onclick="scrollDerecha()"
                        >
                            <img
                                class="iconoi"
                                src="../Public/contenido/img/Main/fechaDerecha.png"
                                alt=""
                            />
                        </button>
                    </div>
                </section>
            </div>
        </div>
        <div class="container" id="animacion">
            <div class="scroll-images">
                <div class="titDrama">
                    <h2>Animación</h2>
                    <p> Sumérgete en un mundo de diversión animada con nuestra serie de animación corta. Cada episodio te llevará a emocionantes aventuras, personajes entrañables y giros sorprendentes, todo en un formato compacto y entretenido. Desde humor ingenioso hasta momentos emocionantes, nuestra serie de animación corta te ofrece un viaje lleno de color y creatividad en cada entrega.
                    </p>
                </div>

                <section class="genero">
                    <div class="btnFlecha flechaIzquierda">
                        <button
                            class="iconob flechabtn"
                            onclick="scrollIzquierda()"
                        >
                            <img
                                class="iconoi"
                                src="../Public/contenido/img/Main/flechaIzquierda.png"
                                alt=""
                            />
                        </button>
                    </div>
                    <div class="pelis" id="imageDramaContainer">
                        <figure class="imageDrama">
                            <img
                                src="../Public/contenido/img/Series/AttackOnTitan.jpg"
                                alt=""
                            />
                            <div class="trans">
                                <h3>Attack of Titan</h3>
                                <p> es una serie de anime y manga japonesa que tiene lugar en un mundo donde la humanidad está al borde de la extinción debido a gigantes humanoides conocidos como "Titanes" que devoran a los humanos. Los sobrevivientes se refugian en ciudades protegidas por enormes muros.
                                </p>
                                <div class="botones">
                                    <button class="ver">Ver</button>
                                    <button class="verTrailer">
                                        Ver Trailer
                                    </button>
                                </div>
                            </div>
                        </figure>
                        <figure class="imageDrama">
                            <img
                                src="../Public/contenido/img/Series/RickMorty.jpg"
                                alt=""
                            />
                            <div class="trans">
                                <h3>Rick y Morty</h3>
                                <p>
                                    es una serie de animación de ciencia ficción y comedia para adultos que sigue las aventuras de Rick Sanchez, un genio científico alcohólico y desequilibrado, y su nieto, Morty Smith. Juntos, viajan a través de dimensiones y planetas, enfrentando situaciones extravagantes y peligrosas.
                                </p>
                                <div class="botones">
                                    <button class="ver">Ver</button>
                                    <button class="verTrailer">
                                        Ver Trailer
                                    </button>
                                </div>
                            </div>
                        </figure>
                        <figure class="imageDrama">
                            <img
                                src="../Public/contenido/img/Series/TeenTitansGo.jpg"
                                alt=""
                            />
                            <div class="trans">
                                <h3>Teen Titans Go!</h3>
                                <p>
                                    es una serie de animación para niños y adolescentes que sigue las divertidas y alocadas aventuras de los jóvenes superhéroes Robin, Starfire, Raven, Beast Boy y Cyborg, quienes forman los Teen Titans. Los personajes viven en la Torre Titán, desde donde enfrentan enemigos, resuelven problemas y lidian con situaciones cotidianas.
                                </p>
                                <div class="botones">
                                    <button class="ver">Ver</button>
                                    <button class="verTrailer">
                                        Ver Trailer
                                    </button>
                                </div>
                            </div>
                        </figure>
                        <figure class="imageDrama">
                            <img
                                src="../Public/contenido/img/Series/PeppaPig.jpg"
                                alt=""
                            />
                            <div class="trans">
                                <h3>Peppa Pig</h3>
                                <p>
                                    es una serie de animación británica dirigida a niños en edad preescolar. La trama sigue las aventuras de Peppa Pig, una cerdita de cuatro años, y su familia, que incluye a sus padres, Mamá Pig y Papá Pig, y su hermano pequeño George.
                                </p>
                                <div class="botones">
                                    <button class="ver">Ver</button>
                                    <button class="verTrailer">
                                        Ver Trailer
                                    </button>
                                </div>
                            </div>
                        </figure>
                        <figure class="imageDrama">
                            <img
                                src="../Public/contenido/img/Series/TheLoudHouse.jpg"
                                alt=""
                            />
                            <div class="trans">
                                <h3>The Loud House</h3>
                                <p>
                                    es una serie de animación estadounidense que se centra en la vida de Lincoln Loud, el único hijo varón de una familia numerosa compuesta por 11 hermanas. Cada hermana tiene una personalidad única y distintiva.
                                </p>
                                <div class="botones">
                                    <button class="ver">Ver</button>
                                    <button class="verTrailer">
                                        Ver Trailer
                                    </button>
                                </div>
                            </div>
                        </figure>
                    </div>
                    <div class="btnFlecha flechaDerecha">
                        <button
                            class="iconob flechabtn"
                            onclick="scrollDerecha()"
                        >
                            <img
                                class="iconoi"
                                src="../Public/contenido/img/Main/fechaDerecha.png"
                                alt=""
                            />
                        </button>
                    </div>
                </section>
            </div>
        </div>

        <div id="modal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="cerrarModal()">&times;</span>
                <div id="modalContent" class="modal-columns"></div>
            </div>
        </div>
        <footer>
            <h2>&copy CODE_DRAGON</h2>
            <figure class="redes">
                <img class="red" src="/Public/contenido/img/Logos/facebook.png" alt="facebook">
                <img class="red" src="/Public/contenido/img/Logos/instagram.png" alt="instagram">
                <img class="red" src="/Public/contenido/img/Logos/twitter.png" alt="twitter">
            </figure>
        </footer>
    </body>
</html>
<script src="../Public/js/scroll.js"></script>
<script src="../Public/js/buscador.js"></script>
