<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../../Public/css/style.css" />
        <link rel="shortcut icon" href="Public/contenido/img/Logos/logoEmpresa.png" type="image/x-icon">
        <title>start voyage</title>
    </head>
    <body>
        <header>
            <nav class="principalNav">
                <ul class="menu">
                    <li><a href="../../index.html">Inicio</a></li>
                    <li><a href="peliculas.html">Películas</a></li>
                    <li><a href="../series.html">Series</a></li>
                    <li>
                        <a href="#">Géneros</a>
                        <ul class="submenu">
                            <li><a href="#animacion">Animación</a></li>
                            <li><a href="#comedia">Comedia</a></li>
                            <li><a href="#drama">Drama</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>

            <input id="buscador" type="text" placeholder="Buscar" onkeyup="buscarPeliculas()" />

            <img
                id="loupe"
                src="../../Public/contenido/img/Logos/loupe.png"
                alt="loupe"
            />


                <img
                    id="logo"
                    src="../../Public/contenido/img/Logos/logoEmpresa.png"
                    alt="logo"
                />

        </header>
        <div class="container" id="drama">
            <div class="scroll-images">
                <div class="titDrama">
                    <h2>Drama</h2>
                    <p> Sumérgete en el apasionante mundo del drama cinematográfico. Descubre historias conmovedoras, personajes inolvidables y emociones intensas en nuestra página de películas. ¡Prepárate para sentir cada momento
                    </p>
                </div>

                <section class="genero">
                    <div class="btnFlecha flechaIzquierda">
                        <button class="iconob flechabtn" onclick="scrollIzquierdaDrama()">
                            <img class="iconoi" src="../../Public/contenido/img/Main/flechaIzquierda.png" alt="" />
                        </button>
                    </div>
                    <div class="pelis" id="imageDramaContainer">
                        <figure class="imageDrama">
                            <img
                                src="../../Public/contenido/img/Peliculas/TheWhale.jpg"
                                alt=""
                            />
                            <div class="trans">
                                <h3>the whale</h3>
                                <p> Un profesor de inglés, un tipo solitario que sufre obesidad mórbida, intenta restablecer el contacto con su hija en busca de perdón
                                </p>
                                <div class="modalPrincipal">
                                    <div class="botones">
                                        <button class="ver">Ver</button>
                                        <button class="verTrailer">
                                            Ver Trailer
                                        </button>
                                        <div class="video-container">
                                            <span class="close">X</span>
                                            <video src="../../Public/contenido/trailers/Peliculas/theWhale.mp4" controls></video>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </figure>
                        <figure class="imageDrama">
                            <img
                                src="../../Public/contenido/img/Peliculas/TheBoyInTheStripedPyjamas.jpg"
                                alt=""
                            />
                            <div class="trans">
                                <h3>El Niño de la Pijama de Rayas</h3>
                                <p> Durante la Segunda Guerra Mundial, el pequeño hijo de un comandante de un campo de concentración desarrolla una amistad prohibida con un niño judío de 8 años.
                                </p>
                                <div class="modalPrincipal">
                                    <div class="botones">
                                        <button class="ver">Ver</button>
                                        <button class="verTrailer">
                                            Ver Trailer
                                        </button>
                                        <div class="video-container">
                                            <span class="close">X</span>
                                            <video src="../../Public/contenido/trailers/Peliculas/theWhale.mp4" controls></video>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </figure>
                        <figure class="imageDrama">
                            <img
                                src="../../Public/contenido/img/Peliculas/TheFaultInOurStars.jpg"
                                alt=""
                            />
                            <div class="trans">
                                <h3>Bajo la Misma Estrella</h3>
                                <p> Dos adolescentes pacientes de cáncer inician un viaje para reafirmar sus vidas y visitar a un escritor solitario en Ámsterdam.
                                </p>
                                <div class="botones">
                                    <button class="ver">Ver</button>
                                    <button class="verTrailer">
                                        Ver Trailer
                                    </button>
                                </div>
                            </div>
                        </figure>
                        <figure class="imageDrama">
                            <img
                                src="../../Public/contenido/img/Peliculas/Joker.jpg"
                                alt=""
                            />
                            <div class="trans">
                                <h3>El Joker</h3>
                                <p> El profesor de literatura Jim Bennett lleva una vida secreta como jugador de apuestas fuertes. Siempre se arriesga y le pide dinero prestado a un gánster.
                                </p>
                                <div class="botones">
                                    <button class="ver">Ver</button>
                                    <button class="verTrailer">
                                        Ver Trailer
                                    </button>
                                </div>
                            </div>
                        </figure>
                        <figure class="imageDrama">
                            <img
                                src="../../Public/contenido/img/Peliculas/TheGambler.jpg"
                                alt=""
                            />
                            <div class="trans">
                                <h3>El Apostador</h3>
                                <p> Un profesor de inglés, un tipo solitario que sufre obesidad mórbida, intenta restablecer el contacto con su hija en busca de perdón
                                </p>
                                <div class="botones">
                                    <button class="ver">Ver</button>
                                    <button class="verTrailer">
                                        Ver Trailer
                                    </button>
                                </div>
                            </div>
                        </figure>
                    </div>
                    <div class="btnFlecha flechaDerecha">
                        <button class="iconob flechabtn" onclick="scrollDerechaDrama()">
                            <img class="iconoi" src="../../Public/contenido/img/Main/fechaDerecha.png" alt="" />
                        </button>
                    </div>
                </section>
            </div>
        </div>
        <div class="container" id="comedia">
            <div class="scroll-images">
                <div class="titDrama">
                    <h2>Comedia</h2>
                    <p> ¡Prepárate para soltar carcajadas en nuestra página de películas de comedia! Explora un universo de risas desenfrenadas, situaciones hilarantes y personajes extravagantes que te harán reír a carcajadas. Desde enredos cómicos hasta ocurrencias inesperadas, nuestra selección de películas de comedia te garantiza momentos de diversión inigualable. Únete a nosotros y descubre un mundo donde la risa es la protagonista. ¡No podrás contener la alegría!
                    </p>
                </div>

                <section class="genero">
                    <div class="btnFlecha flechaIzquierda">
                        <button class="iconob flechabtn" onclick="scrollIzquierdaComedia()">
                            <img class="iconoi" src="../../Public/contenido/img/Main/flechaIzquierda.png" alt="" />
                        </button>
                    </div>
                    <div class="pelis" id="imageComediaContainer">
                        <figure class="imageDrama">
                            <img
                                src="../../Public/contenido/img/Peliculas/RushHour3.jpg"
                                alt=""
                            />
                            <div class="trans">
                                <h3>Una Pareja Explosiva</h3>
                                <p> El este y el oeste se encuentran nuevamente cuando el asesinato del embajador Ha provoca la reunión de Lee y Carter.
                                </p>
                                <div class="botones">
                                    <button class="ver">Ver</button>
                                    <button class="verTrailer">
                                        Ver Trailer
                                    </button>
                                </div>
                            </div>
                        </figure>
                        <figure class="imageDrama">
                            <img
                                src="../../Public/contenido/img/Peliculas/Ted.jpg"
                                alt=""
                            />
                            <div class="trans">
                                <h3>Ted</h3>
                                <p> Cuando John Bennett era un niño pequeño, pidió el deseo de que Ted, su querido oso de peluche, cobrara vida.
                                </p>
                                <div class="botones">
                                    <button class="ver">Ver</button>
                                    <button class="verTrailer">
                                        Ver Trailer
                                    </button>
                                </div>
                            </div>
                        </figure>
                        <figure class="imageDrama">
                            <img
                                src="../../Public/contenido/img/Peliculas/Baywatch.jpg"
                                alt=""
                            />
                            <div class="trans">
                                <h3>Guardianes de la Bahia</h3>
                                <p> Dos socorristas, el veterano Mitch Buchannon y el joven y arrogante Matt Brody, deben detener a unos criminales que amenazan el futuro de la bahía en la que trabajan. Mientras colaboran aprenderán a respetarse mutuamente, dado que el comienzo de su relación profesional ha sido complicado
                                </p>
                                <div class="botones">
                                    <button class="ver">Ver</button>
                                    <button class="verTrailer">
                                        Ver Trailer
                                    </button>
                                </div>
                            </div>
                        </figure>
                        <figure class="imageDrama">
                            <img
                                src="../../Public/contenido/img/Peliculas/BadBoysForLife.jpg"
                                alt=""
                            />
                            <div class="trans">
                                <h3>Bad Boys Para Siempre</h3>
                                <p> Los veteranos agentes Mike Lowery y Marcus Burnett vuelven a colaborar para detener a Armando Armas, el violento líder de un cartel de la droga afincado en Miami. En esta ocasión, los apoya el equipo AMMO, un grupo de élite del Departamento de Policía de Miami.
                                </p>
                                <div class="botones">
                                    <button class="ver">Ver</button>
                                    <button class="verTrailer">
                                        Ver Trailer
                                    </button>
                                </div>
                            </div>
                        </figure>
                        <figure class="imageDrama">
                            <img
                                src="../../Public/contenido/img/Peliculas/RideAlong.jpg"
                                alt=""
                            />
                            <div class="trans">
                                <h3>Ride Along</h3>
                                <p> Cuando un policía veterano pone a prueba a su futuro cuñado, un recluta dispuesto a demostrar que es más que un adicto a los videojuegos, ambos deben enfrentar al criminal más peligroso de Atlanta.
                                </p>
                                <div class="botones">
                                    <button class="ver">Ver</button>
                                    <button class="verTrailer">
                                        Ver Trailer
                                    </button>
                                </div>
                            </div>
                        </figure>
                    </div>
                    <div class="btnFlecha flechaDerecha">
                        <button class="iconob flechabtn" onclick="scrollDerechaComedia()">
                            <img class="iconoi" src="../../Public/contenido/img/Main/fechaDerecha.png" alt="" />
                        </button>
                    </div>
                </section>
            </div>
        </div>
        <div class="container" id="animacion">
            <div class="scroll-images">
                <div class="titDrama">
                    <h2>Animación</h2>
                    <p> Sumérgete en el apasionante mundo del drama cinematográfico. Descubre historias conmovedoras, personajes inolvidables y emociones intensas en nuestra página de películas. ¡Prepárate para sentir cada momento
                    </p>
                </div>

                <section class="genero">
                    <div class="btnFlecha flechaIzquierda">
                        <button class="iconob flechabtn" onclick="scrollIzquierdaAnimacion()">
                            <img class="iconoi" src="../../Public/contenido/img/Main/flechaIzquierda.png" alt="" />
                        </button>
                    </div>
                    <div class="pelis" id="imageAnimacionContainer">
                        <figure class="imageDrama">
                            <img
                                src="../../Public/contenido/img/Peliculas/Spiderman-IntoTheSpiderverse.jpg"
                                alt=""
                            />
                            <div class="trans">
                                <h3>Spiderman: IntoTheSpiderverse</h3>
                                <p> Luego de ser mordido por una araña radioactiva, el joven Miles Morales desarrolla misteriosos poderes que lo transforman en el Hombre Araña. Ahora deberá usar sus nuevas habilidades ante el malvado Kingpin, un enorme demente que puede abrir portales hacia otros universos
                                </p>
                                <div class="botones">
                                    <button class="ver">Ver</button>
                                    <button class="verTrailer">
                                        Ver Trailer
                                    </button>
                                </div>
                            </div>
                        </figure>
                        <figure class="imageDrama">
                            <img
                                src="../../Public/contenido/img/Peliculas/PussInBoots-TheLastWish.jpg"
                                alt=""
                            />
                            <div class="trans">
                                <h3>Gato con Botas</h3>
                                <p> El Gato con Botas descubre que, debido a su pasión por la aventura, ha gastado ya 8 de sus 9 vidas. Por tanto, emprende un peligroso viaje en busca del legendario Último Deseo para solicitar que le restauren las vidas que ya perdió.
                                </p>
                                <div class="botones">
                                    <button class="ver">Ver</button>
                                    <button class="verTrailer">
                                        Ver Trailer
                                    </button>
                                </div>
                            </div>
                        </figure>
                        <figure class="imageDrama">
                            <img
                                src="../../Public/contenido/img/Peliculas/Spiderman-AcrossTheSpiderverse.jpg"
                                alt=""
                            />
                            <div class="trans">
                                <h3>Spiderman 2</h3>
                                <p> Después de reunirse con Gwen Stacy, el amigable vecino de tiempo completo de Brooklyn Spiderman, es lanzado a través del multiverso, donde se encuentra a un equipo de gente araña encomendada con proteger su mera existencia.
                                </p>
                                <div class="botones">
                                    <button class="ver">Ver</button>
                                    <button class="verTrailer">
                                        Ver Trailer
                                    </button>
                                </div>
                            </div>
                        </figure>
                        <figure class="imageDrama">
                            <img
                                src="../../Public/contenido/img/Peliculas/Encanto.jpg"
                                alt=""
                            />
                            <div class="trans">
                                <h3>Encanto</h3>
                                <p> Una joven colombiana puede ser la última esperanza para su familia, cuando descubre que la magia que rodea a Encanto, un lugar encantado que bendice a los niños con dones únicos, se encuentra en serio peligro.
                                </p>
                                <div class="botones">
                                    <button class="ver">Ver</button>
                                    <button class="verTrailer">
                                        Ver Trailer
                                    </button>
                                </div>
                            </div>
                        </figure>
                        <figure class="imageDrama">
                            <img
                                src="../../Public/contenido/img/Peliculas/Shrek.jpg"
                                alt=""
                            />
                            <div class="trans">
                                <h3>Shrek</h3>
                                <p> Un ogro llamado Shrek vive en su pantano, pero su preciada soledad se ve súbitamente interrumpida por la invasión de los ruidosos personajes de los cuentos de hadas. Todos fueron expulsados de sus reinos por el malvado Lord Farquaad.
                                </p>
                                <div class="botones">
                                    <button class="ver">Ver</button>
                                    <button class="verTrailer">
                                        Ver Trailer
                                    </button>
                                </div>
                            </div>
                        </figure>
                    </div>
                    <div class="btnFlecha flechaDerecha">
                        <button class="iconob flechabtn" onclick="scrollDerechaAnimacion()">
                            <img class="iconoi" src="../../Public/contenido/img/Main/fechaDerecha.png" alt="" />
                        </button>
                    </div>
                </section>
            </div>
        </div>

        <div id="modal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="cerrarModal()">&times;</span>
                <div id="modalContent" class="modal-columns"></div>
            </div>
        </div>
        
        
        

        <footer>
            <h2>&copy CODE_DRAGON</h2>
            <figure class="redes">
                <img class="red" src="/Public/contenido/img/Logos/facebook.png" alt="facebook">
                <img class="red" src="/Public/contenido/img/Logos/instagram.png" alt="instagram">
                <img class="red" src="/Public/contenido/img/Logos/twitter.png" alt="twitter">
            </figure>
        </footer>
    </body>
</html>
<script src="../../Public/js/scroll.js"></script>
<script src="../../Public/js/buscador.js"></script>
<script src="../../Public/js/modal.js"></script>
