<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>peliculas</title>
        <link rel="icon" href="/Public/contenido/img/Main/fondo.jpg">
        <link rel="stylesheet" href="/Public/css/style.css">
</head>

<body>
        <div class="cont">
                <h1 class="Titulo">Peliculas</h1>
                <div class="main-scroll-div">

                        <button class="iconob" onclick="scrolll()"><img class="iconoi"
                                        src="/Public/contenido/img/Main/flechaIzquierda.png" alt=""></button>
                        <div class="cover">

                                <div class="scroll-images">
                                        <div class="child"><img class="child-img"
                                                        src="/Public/contenido/img/Peliculas/BadBoysForLife.jpg"
                                                        alt="image"></div>
                                        <div class="child"><img class="child-img"
                                                        src="/Public/contenido/img/Peliculas/Baywatch.jpg" alt="image">
                                        </div>
                                        <div class="child"><img class="child-img"
                                                        src="/Public/contenido/img/Peliculas/Encanto.jpg" alt="image">
                                        </div>
                                        <div class="child"><img class="child-img"
                                                        src="/Public/contenido/img/Peliculas/Joker.jpg" alt="image">
                                        </div>
                                        <div class="child"><img class="child-img"
                                                        src="/Public/contenido/img/Peliculas/PussInBoots-TheLastWish.jpg"
                                                        alt="image"></div>
                                        <div class="child"><img class="child-img"
                                                        src="/Public/contenido/img/Peliculas/RideAlong.jpg" alt="image">
                                        </div>
                                        <div class="child"><img class="child-img"
                                                        src="/Public/contenido/img/Peliculas/RushHour3.jpg" alt="image">
                                        </div>
                                        <div class="child"><img class="child-img"
                                                        src="/Public/contenido/img/Peliculas/Shrek.jpg" alt="image">
                                        </div>
                                        <div class="child"><img class="child-img"
                                                        src="/Public/contenido/img/Peliculas/Spiderman-AcrossTheSpiderverse.jpg"
                                                        alt="image"></div>
                                        <div class="child"><img class="child-img"
                                                        src="/Public/contenido/img/Peliculas/Spiderman-IntoTheSpiderverse.jpg"
                                                        alt="image"></div>
                                        <div class="child"><img class="child-img"
                                                        src="/Public/contenido/img/Peliculas/Ted.jpg" alt="image">
                                        </div>
                                        <div class="child"><img class="child-img"
                                                        src="/Public/contenido/img/Peliculas/TheBoyInTheStripedPyjamas.jpg"
                                                        alt="image"></div>
                                        <div class="child"><img class="child-img"
                                                        src="/Public/contenido/img/Peliculas/TheFaultInOurStars.jpg"
                                                        alt="image"></div>
                                        <div class="child"><img class="child-img"
                                                        src="/Public/contenido/img/Peliculas/TheGambler.jpg"
                                                        alt="image"></div>
                                        <div class="child"><img class="child-img"
                                                        src="/Public/contenido/img/Peliculas/TheWhale.jpg" alt="image">
                                        </div>




                                </div>
                        </div>

                        <button class="iconob" onclick="scrollr()"><img class="iconod"
                                        src="/Public/contenido/img/Main/fechaDerecha.png" alt=""></button>

                </div>


        </div>
</body>
<script src="/views/js/slider.js"></script>

</html>