<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Peliculas</title>
        <link rel="icon" href="/Public/contenido/img/Main/fondo.jpg">
        <link rel="stylesheet" href="/Public/css/style.css">

</head>

<body>
        <div class="cont">

                <h1 class="Titulo">Peliculas</h1>

                <div class="main-scroll-div">

                        <button class="iconob" onclick="scrolll()"><img class="iconoi"
                                        src="/Public/contenido/img/Main/flechaIzquierda.png" alt=""></button>
                        <div class="cover">

                                <div class="scroll-images">
                                        <div class="child"><img class="child-img"
                                                        src="/Public/contenido/img/Peliculas/BadBoysForLife.jpg"
                                                        alt="image">
                                                        <figcaption>
                                                                <h3>HOLAAAAAA</h3>
                                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, voluptate?</p>
                                                                <button>Ver Trailer</button>
                                                                <button>Reproducir</button>
                                                        </figcaption>
                                                </div>
                                        <div class="child"><img class="child-img"
                                                src="/Public/contenido/img/Peliculas/Baywatch.jpg"
                                                alt="image">
                                                        <figcaption>
                                                                <h3>HOLAAAAAA</h3>
                                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, voluptate?</p>
                                                                <button>Ver Trailer</button>
                                                                <button>Reproducir</button>
                                                        </figcaption>
                                        </div>
                                        <div class="child"><img class="child-img"
                                                src="/Public/contenido/img/Peliculas/Encanto.jpg"
                                                alt="image">
                                                        <figcaption>
                                                                <h3>HOLAAAAAA</h3>
                                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, voluptate?</p>
                                                                <button>Ver Trailer</button>
                                                                <button>Reproducir</button>
                                                        </figcaption>
                                        </div>
                                        <div class="child"><img class="child-img"
                                                src="/Public/contenido/img/Peliculas/Joker.jpg"
                                                alt="image">
                                                        <figcaption>
                                                                <h3>HOLAAAAAA</h3>
                                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, voluptate?</p>
                                                                <button>Ver Trailer</button>
                                                                <button>Reproducir</button>
                                                        </figcaption>
                                                </div>
                                        <div class="child"><img class="child-img"
                                                src="/Public/contenido/img/Peliculas/PussInBoots-TheLastWish.jpg"
                                                alt="image">
                                                        <figcaption>
                                                                <h3>HOLAAAAAA</h3>
                                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, voluptate?</p>
                                                                <button>Ver Trailer</button>
                                                                <button>Reproducir</button>
                                                        </figcaption>
                                        </div>
                                        <div class="child"><img class="child-img"
                                                src="/Public/contenido/img/Peliculas/RideAlong.jpg"
                                                alt="image">
                                                        <figcaption>
                                                                <h3>HOLAAAAAA</h3>
                                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, voluptate?</p>
                                                                <button>Ver Trailer</button>
                                                                <button>Reproducir</button>
                                                        </figcaption>
                                        </div>
                                        <div class="child"><img class="child-img"
                                                src="/Public/contenido/img/Peliculas/RushHour3.jpg"
                                                alt="image">
                                                        <figcaption>
                                                                <h3>HOLAAAAAA</h3>
                                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, voluptate?</p>
                                                                <button>Ver Trailer</button>
                                                                <button>Reproducir</button>
                                                        </figcaption>
                                        </div>
                                        <div class="child"><img class="child-img"
                                                src="/Public/contenido/img/Peliculas/Shrek.jpg"
                                                alt="image">
                                                        <figcaption>
                                                                <h3>HOLAAAAAA</h3>
                                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, voluptate?</p>
                                                                <button>Ver Trailer</button>
                                                                <button>Reproducir</button>
                                                        </figcaption>
                                        </div>
                                        <div class="child"><img class="child-img"
                                                src="/Public/contenido/img/Peliculas/Spiderman-AcrossTheSpiderverse.jpg"
                                                alt="image">
                                                        <figcaption>
                                                                <h3>HOLAAAAAA</h3>
                                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, voluptate?</p>
                                                                <button>Ver Trailer</button>
                                                                <button>Reproducir</button>
                                                        </figcaption>
                                        </div>
                                        <div class="child"><img class="child-img"
                                                src="/Public/contenido/img/Peliculas/Spiderman-IntoTheSpiderverse.jpg"
                                                alt="image">
                                                        <figcaption>
                                                                <h3>HOLAAAAAA</h3>
                                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, voluptate?</p>
                                                                <button>Ver Trailer</button>
                                                                <button>Reproducir</button>
                                                        </figcaption>
                                        </div>
                                        <div class="child"><img class="child-img"
                                                src="/Public/contenido/img/Peliculas/Ted.jpg"
                                                alt="image">
                                                        <figcaption>
                                                                <h3>HOLAAAAAA</h3>
                                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, voluptate?</p>
                                                                <button>Ver Trailer</button>
                                                                <button>Reproducir</button>
                                                        </figcaption>
                                        </div>
                                        <div class="child"><img class="child-img"
                                                src="/Public/contenido/img/Peliculas/TheBoyInTheStripedPyjamas.jpg"
                                                alt="image">
                                                        <figcaption>
                                                                <h3>HOLAAAAAA</h3>
                                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, voluptate?</p>
                                                                <button>Ver Trailer</button>
                                                                <button>Reproducir</button>
                                                        </figcaption>
                                        </div>
                                        <div class="child"><img class="child-img"
                                                src="/Public/contenido/img/Peliculas/TheFaultInOurStars.jpg"
                                                alt="image">
                                                        alt="image">
                                                        <figcaption>
                                                                <h3>HOLAAAAAA</h3>
                                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, voluptate?</p>
                                                                <button>Ver Trailer</button>
                                                                <button>Reproducir</button>
                                                        </figcaption>
                                                </div>
                                        <div class="child"><img class="child-img"
                                                src="/Public/contenido/img/Peliculas/TheGambler.jpg"
                                                alt="image">
                                                        <figcaption>
                                                                <h3>HOLAAAAAA</h3>
                                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, voluptate?</p>
                                                                <button><p>Ver Trailer</p></button>
                                                                <button><p>Reproducir </p></button>
                                                        </figcaption>
                                        </div>
                                        <div class="child"><img class="child-img"
                                                src="/Public/contenido/img/Peliculas/TheWhale.jpg"
                                                alt="image">
                                                        <figcaption>
                                                                <h3>HOLAAAAAA</h3>
                                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, voluptate?</p>
                                                                <button>Ver Trailer</button>
                                                                <button>Reproducir</button>
                                                        </figcaption>
                                        </div>




                                </div>
                        </div>

                        <button class="iconob" onclick="scrollr()"><img class="iconod"
                                        src="/Public/contenido/img/Main/fechaDerecha.png" alt=""></button>

                </div>

        </div>


</body>
<script src="/views/js/slider.js"></script>

</html>