<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>series</title>
        <link rel="icon" href="/Public/contenido/img/Main/fondo.jpg">
        <link rel="stylesheet" href="/Public/css/style.css">

</head>

<body>
        <div class="cont">

                <h1 class="Titulo">Series</h1>

                <div class="main-scroll-div">

                        <button class="iconob" onclick="scrolll()"><img class="iconoi"
                                        src="/Public/contenido/img/Main/flechaIzquierda.png" alt=""></button>
                        <div class="cover">

                                <div class="scroll-images">
                                        <div class="child"><img class="child-img"
                                                        src="/Public/contenido/img/Series/AttackOnTitan.jpg"
                                                        alt="image">
                                                        <figcaption class="atras">
                                                                <h3>HOLAAAAAA</h3>
                                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, voluptate?</p>
                                                                <button>Ver Trailer</button>
                                                                <button>Reproducir</button>
                                                        </figcaption>
                                                </div>
                                        <div class="child"><img class="child-img"
                                                        src="/Public/contenido/img/Series/BlueBloods.jpg" alt="image">
                                                        <figcaption>
                                                                <h3>HOLAAAAAA</h3>
                                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, voluptate?</p>
                                                                <button>Ver Trailer</button>
                                                                <button>Reproducir</button>
                                                        </figcaption>
                                        </div>
                                        <div class="child"><img class="child-img"
                                                        src="/Public/contenido/img/Series/CobraKai.jpg" alt="image">
                                                        <figcaption>
                                                                <h3>HOLAAAAAA</h3>
                                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, voluptate?</p>
                                                                <button>Ver Trailer</button>
                                                                <button>Reproducir</button>
                                                        </figcaption>
                                        </div>
                                        <div class="child"><img class="child-img"
                                                        src="/Public/contenido/img/Series/CriminalMinds.jpg"
                                                        alt="image">
                                                        <figcaption>
                                                                <h3>HOLAAAAAA</h3>
                                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, voluptate?</p>
                                                                <button>Ver Trailer</button>
                                                                <button>Reproducir</button>
                                                        </figcaption>
                                                </div>
                                        <div class="child"><img class="child-img"
                                                        src="/Public/contenido/img/Series/FamilyGuy.jpg" alt="image">
                                                        <figcaption>
                                                                <h3>HOLAAAAAA</h3>
                                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, voluptate?</p>
                                                                <button>Ver Trailer</button>
                                                                <button>Reproducir</button>
                                                        </figcaption>
                                        </div>
                                        <div class="child"><img class="child-img"
                                                        src="/Public/contenido/img/Series/Futurama.jpg" alt="image">
                                                        <figcaption>
                                                                <h3>HOLAAAAAA</h3>
                                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, voluptate?</p>
                                                                <button>Ver Trailer</button>
                                                                <button>Reproducir</button>
                                                        </figcaption>
                                        </div>
                                        <div class="child"><img class="child-img"
                                                        src="/Public/contenido/img/Series/GreysAnatomy.jpg" alt="image">
                                                        <figcaption>
                                                                <h3>HOLAAAAAA</h3>
                                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, voluptate?</p>
                                                                <button>Ver Trailer</button>
                                                                <button>Reproducir</button>
                                                        </figcaption>
                                        </div>
                                        <div class="child"><img class="child-img"
                                                        src="/Public/contenido/img/Series/LawOrder.jpg" alt="image">
                                                        <figcaption>
                                                                <h3>HOLAAAAAA</h3>
                                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, voluptate?</p>
                                                                <button>Ver Trailer</button>
                                                                <button>Reproducir</button>
                                                        </figcaption>
                                        </div>
                                        <div class="child"><img class="child-img"
                                                        src="/Public/contenido/img/Series/PeppaPig.jpg" alt="image">
                                                        <figcaption>
                                                                <h3>HOLAAAAAA</h3>
                                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, voluptate?</p>
                                                                <button>Ver Trailer</button>
                                                                <button>Reproducir</button>
                                                        </figcaption>
                                        </div>
                                        <div class="child"><img class="child-img"
                                                        src="/Public/contenido/img/Series/RickMorty.jpg" alt="image">
                                                        <figcaption>
                                                                <h3>HOLAAAAAA</h3>
                                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, voluptate?</p>
                                                                <button>hola piña</button>
                                                                <button>hola piña22</button>
                                                        </figcaption>
                                        </div>
                                        <div class="child"><img class="child-img"
                                                        src="/Public/contenido/img/Series/TedLasso.jpg" alt="image">
                                                        <figcaption>
                                                                <h3>HOLAAAAAA</h3>
                                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, voluptate?</p>
                                                                <button>Ver Trailer</button>
                                                                <button>Reproducir</button>
                                                        </figcaption>
                                        </div>
                                        <div class="child"><img class="child-img"
                                                        src="/Public/contenido/img/Series/TeenTitansGo.jpg" alt="image">
                                                        <figcaption>
                                                                <h3>HOLAAAAAA</h3>
                                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, voluptate?</p>
                                                                <button>Ver Trailer</button>
                                                                <button>Reproducir</button>
                                                        </figcaption>
                                        </div>
                                        <div class="child"><img class="child-img"
                                                        src="/Public/contenido/img/Series/TheGoodDoctor.jpg"
                                                        alt="image">
                                                        <figcaption>
                                                                <h3>HOLAAAAAA</h3>
                                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, voluptate?</p>
                                                                <button>Ver Trailer</button>
                                                                <button>Reproducir</button>
                                                        </figcaption>
                                                </div>
                                        <div class="child"><img class="child-img"
                                                        src="/Public/contenido/img/Series/TheLoudHouse.jpg" alt="image">
                                                        <figcaption>
                                                                <h3>HOLAAAAAA</h3>
                                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, voluptate?</p>
                                                                <button>Ver Trailer</button>
                                                                <button>Reproducir</button>
                                                        </figcaption>
                                        </div>
                                        <div class="child"><img class="child-img"
                                                        src="/Public/contenido/img/Series/TheSimpsons.jpg" alt="image">
                                                        <figcaption>
                                                                <h3>HOLAAAAAA</h3>
                                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, voluptate?</p>
                                                                <button>Ver Trailer</button>
                                                                <button>Reproducir</button>
                                                        </figcaption>
                                        </div>




                                </div>
                        </div>

                        <button class="iconob" onclick="scrollr()"><img class="iconod"
                                        src="/Public/contenido/img/Main/fechaDerecha.png" alt=""></button>

                </div>

        </div>


</body>
<script src="/views/js/slider.js"></script>

</html>